.poll {
    margin-left: 8%;
}
.poll ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.poll li {
    display: flex;
    padding-left: 0px;
}

.poll img {
  width: 4em;
  height: 4em;
  border-radius: 3em;
  margin-left: 1em;
}

.unanswered button {
    background-color: white;
    color: black;
    border: .1em solid gray;
    width:20%;
    height: 2em;
    cursor: pointer;
    text-align: left;
}

.unanswered button:hover {
    background-color: gray;
    border: .1em solid black;
}

.answered button {
    background-color: white;
    color: black;
    border: .1em solid gray;
    width:20%;
    height: 2em;
}

.polltext {
    float: left;
}

.answertext {
    float: right;
}
